name: Manual Test Pipeline With Approval

on:
  workflow_dispatch:

jobs:
  jobA:
    name: Run Python File
    runs-on: ubuntu-latest

    environment:
      name: prod

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Python file
        run: python3 app.py

  jobB:
    name: Run Linux Commands
    runs-on: ubuntu-latest

    environment:
      name: prod

    steps:
      - name: Basic commands
        run: |
          echo "Running Job B"
          mkdir test_folder
          cd test_folder
          pwd
          ls -la
